*{
    margin: 0;
    padding:0;
}
.left-box{
    background-Color: rgb(20, 136, 20);
    float: left;
    width: 75%;
}
.right-box{
    background-color: rgb(173, 38, 112);
    float: left;
    width: 25%;
}
.bottom-box{
    background-color:rgb(39, 11, 141);
    
}
