#dogPic, #catPic {
  width: 20px;
  height: 20px;
  position: absolute;
  background: red;
  top: 10px;
  left: 10px;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

div {
  font-family: Arial;
  font-size: 11px;
}
.draggable {
  text-align: center;
  padding: 10px;
  width: 80px;
  height: 15px;
  border: 1px solid #0F0;
  background: #999;
  color: #FFF;
  cursor: pointer;
}

.inactive { 
  border: 1px solid #F00 !important;
  cursor: auto;
}

.active {
  border: 1px solid #0F0 !important;
}

button {
  width: 80px; height: 50px; margin: 5px;
}


