body{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: #f6f8f9;
}
.flex-head{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    float: left;
    padding: 0px 0px 0px 10px;

}
.flex-profile{
    display: flex;
    flex-direction: row;
    background: #fff;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 0px 10px 0px 0px;
}
.flex-profile image{
    border-radius: 50%;
}
.flex-requition{
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 70px;
    height: 620px;
    float: left;
    margin: 0px 0px 0px 20px;
}
.flex-requition p{
    transform: rotate(-90deg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex-note{
        display: flex;
        flex-direction: column;
        background: #fff;
        align-items:flex-start ;
        justify-content: space-evenly;
        height: 622px;
        padding: 0px 10px 0px 0px;
        /* width: auto; */
        width: 89%;
}

.button{
    background-color: #32BDD2;
    color: white;
    padding: 10px 20px ;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}
.box{
    width: 300px;
    height: 100px;
    border: 1px solid gray;
    box-shadow: .5px  .5px 0px 0px ;
}
.login{
    text-decoration-line: underline;
    float: left;
    margin: 0px 0px 0px 700px;
}
